* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.content-header {
    display: grid;
    grid-template-columns: 238px 950px;
    gap: 642px;
    width: 100%;
}

.link-logo {
    text-decoration: none;
}

.logo-1 {
    display: grid;
    grid-template-columns: 35px 5px 5px;
    margin-left: 100px;
    margin-top: 48px;

}

.logo-1 img {
    width: 31px;
    height: 29px;
    padding-top: 13px;
}

.logo-1 p {
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.2px;
}

.navigation-box {
    
    display: flex;
}

.nav-container {
    margin-top: 59px;
    list-style: none;
    display: flex;

}


.nav-box {
    padding-left: 68px;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.22px;
}

.style-link {
    text-decoration: none;
    color: #242323;
}

.style-link:hover {
    border-bottom: 2px #2E2E2E solid;
    padding-bottom: 4px;
}



.button-header {
    width: 135px;
    height: 62px;
    background-color: #000;
    border-radius: 7px;
    margin-left: 54px;
    margin-top: 46px;
    cursor: pointer;
    color: #FEFEFE;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.72px;
}

.style-button {
    padding-left: 20px;
    padding-top: 15px;
}

.button-header:hover{
    background: #CDD6DB;
    color: #2E2E2E;
    transition:1s;
}

